<div class="card">
  <header class="card-header card-header-title">
    
        <div class="column">
            <p class=""></p>
      <a href="/post/{{id}}"  class="">{{title}}</a>


      </div>
      <div class="column">
      <span class=""> </span>
      </div>
    
  </header>
 
    
   <div class="card-content">
        <div class="content">
            {{post_content}}
        </div>
    <a href="/post/{{id}}"></a>
    <div class="card-content">
        <b>Posted by </b>
            <a>{{user.username}}</a>
    </div>


    {{!-- {{#each posts as |post|}} 
    \{{post.post_content}}
    {{user.username}}
    {{/each}} --}}
   

    <!-- Add if statement to only allow a user to edit this ONLY for their 
    Comments, no other comments that aren't associated with their account
    If they click edit, we need a check on the backend to make sure they're 
    the same person - make sure it's the right user. 
    
    Use req.session.user_id - check to see if the user is a match for
    the session ID -->
 <li>
  <!--    <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>-->
  <a href="/post/{{id}}" class="edit-link">Edit post</a>
    </li>  
</a> 
          
        

       
          <!--      <b>{{user.username}}</b> 
               | <a href="https://twitter.com/{{user.twitter}}"><i class="fab fa-twitter"></i></a> 
                <a href="https://github.com/{{user.github}}"><i class="fab fa-github"></i></a>
                 | {{'format_date created_at'}} | <a href="/post/{{id}}">{{post.post_content}} </a>
            </div>-->
        
    </div>

